* {
    backface-visibility: hidden;
    
}
body{
    background-color: #EBF2E8;
}
button:link,
button:visited {

    text-transform: uppercase;
    /* gets ride of default underline of link */
    text-decoration: none;
    padding: 15px 40px;
    /* always do this if using block and want to give padding to element */
    display: inline-block;
    border-radius: 100px;
    /* gives animation to all subclasses - always(?) do in initial state */
    transition: all .2s;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
}
button:hover {
    /* top is negative, bottom is positive on y axis */
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgb(0,0,0,.2);
}
button:active {
    /* in relation to initial state, not any other state */
    transform: translateY(-1px);
    box-shadow: 0 5px 7px rgb(0,0,0,.2);
}

#bonjour {
    margin-top:1.33rem;
    text-align: center;
    color:#252737 !important;
    font-size: 1.30rem;
    margin-right:1rem;
}

.navbar-brand{
    font-size: 2rem;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 1.30rem;

}
#logo{
    color:#117a8b;
    font-size: 2rem;
}
.btn-warning{
    margin:30px;
    border-radius: 22px;
    padding:8px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
    
    

}
.btn-info{
    border-radius: 22px;
    padding:8px;
    padding-left: 2rem;
    padding-right: 2rem;
    color:white;
    font-size: 20px;
    
  
}
#calendar{
    color:#252737;
    font-size: 2rem;
    padding-right: 10px;
    
}
#user{
    color:black;
    font-size: 1.22rem;
    padding-right: 10px;

}
#users{
    color:white;
    font-size: 5rem;
    padding-right: 10px;
}
.card{
background-color: #117a8b !important;
}