@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background-color: rgb(0, 0, 0);
}

.cal__main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cal__main h1 {
	font-size: 3rem;
	color: rgba(255, 255, 255, 0.491);
	text-align: center;
	text-transform: uppercase;
}

.cal__main p {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.491);
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.cal__container {
	width: 480px;
	height: 400px;
}

.calendar__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background: rgba(255, 255, 255, 0.383);
	backdrop-filter: blur(150px);
	border-radius: 20px 20px 0 0;
}

.calendar__top .arrow {
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: rgb(190, 190, 190);
	margin-left: -30px;
}

.calendar__top .arrow:hover {
	background-color: rgba(255, 255, 255, 0.102);
	border-radius: 50%;
}

.calendar__top .calendar__day {
	position: absolute;
	left: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-right: 15rem;
	overflow: hidden;
}

.calendar__top .calendar__time {
	position: absolute;
	right: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	height: 100%;
	color: white;
}

.calendar__top .calendar__time .cal__time {
	font-size: 1.7rem;
	text-transform: uppercase;
}

.calendar__top .cal__month {
	font-size: 1.8rem;
	text-transform: uppercase;
	color: white;
}

.calendar__top .cal__date {
	font-size: 1rem;
	color: rgb(199, 199, 199);
}

.calendar__bottom {
	padding: 1rem;
	height: 50px;
	 background-color: rgba(255, 255, 255, 0.077);
	backdrop-filter: blur(200px); 
	background: rgba(104, 104, 104, 0.47);
	backdrop-filter: blur(50px);
	width: 100%;
	height: 100%;
	border-radius: 0 0 20px 20px;
}
.calendar__bottom .cal__weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	place-items: center;
}

.calendar__bottom .cal__weekdays span {
	padding: 1rem;
	font-size: 1.5rem;
	color: rgb(199, 199, 199);
}

.calendar__bottom .cal__days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	place-items: center;
	color: white;
}

.calendar__bottom .cal__days span {
	padding: 1rem;
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: all 200ms;
}

.calendar__bottom .cal__days span:hover {
	background-color: rgba(240, 248, 255, 0.573);
}

.calendar__bottom .cal__days .today {
	background: rgba(194, 194, 194, 0.47);
}

.background {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #117a8b;
	/*filter: blur(100px);
	position: absolute;
	top: 10%;
	right: 50%;*/
	animation: spin1 3.5s linear infinite alternate;
}

@keyframes spin1 {
	0% {
		top: 10%;
		right: 50%;
	}
	100% {
		top: 30%;
		right: 50%;
	}
}

.background1 {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #117a8b;
	/*filter: blur(100px);
	position: absolute;
	top: 20%;
	left: 40%;*/
	animation: spin2 3s linear infinite alternate;
}

@keyframes spin2 {
	0% {
		top: 20%;
		left: 40%;
	}
	100% {
		top: 30%;
		left: 40%;
	}
}

.background2 {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #117a8b;
	/*filter: blur(100px);
	position: absolute;
	top: 50%;
	left: 30%;*/
	animation: spin3 2.5s linear infinite alternate;
}

@keyframes spin3 {
	0% {
		top: 50%;
		left: 30%;
	}
	100% {
		top: 60%;
		left: 30%;
	}
}
